/* css comment */
body {
    font-family: 'Open Sans', sans-serif;
  }
  h1 {
    font-family: 'Lobster', cursive;
  }
  p {
    font-family: 'Open Sans', sans-serif;
  }
  
  li {
    font-family: 'Nosifer', cursive;
  }
  